*{
    margin: 0;
    padding: 0;
}

.Container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
}

.Opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.ButtonSearch{
width: 250px;
height: 30px;
border-radius: 10px;
border: none;
}
.bi-search{
    font-size: 20px;
    background-color: transparent;
    position: absolute;
    margin-left: 16%;
}

p{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
a{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.LoginPerson{
    font-size: 30px;
    margin: 5px;
    color: white;
}
.SubContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Banner{
    width: 100%;
    margin-top: 30px;
}
img{
    width: 100%;
}
.ContainerCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
}
.Cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    border: 1px solid red;
    background-color: white;
}